<div class="container-fluid" ng-init="vm.checkMode()">
    <!-- Header Create/Edit Task -->
    <div class="wrapper-header">
        <div class="chart-header" ng-if="vm.mode==='add'">Create Note</div>
        <div class="chart-header" ng-if="vm.mode==='edit'">Edit Note</div>
    </div>
    <!-- Form Wrapper -->
    <div class="form-element">
        <!-- Task Form -->
        <form name="taskForm" novalidate ng-submit="vm.submitTask()">
            <div class="form-group">
                <label for="exampleInputEmail1">Task Name</label>
                <input type="text" class="form-control" ng-model="vm.task.name" id="exampleInputEmail1" name="taskName" placeholder="Task Name" required>
                <p class="text-danger" ng-show="!vm.task.name && taskForm.taskName.$dirty">Enter your task name</p>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Task Description</label>
                <textarea class="form-control" ng-model="vm.task.desc" name="taskDesc" rows="5" placeholder="Enter your task description" required></textarea>
                <p class="text-danger" ng-show="!vm.task.desc && taskForm.taskDesc.$dirty">Enter your task description</p>
            </div>
            <div class="form-group text-align-right">
                <button type="submit" ng-if="vm.mode==='add'" ng-disabled="!vm.task.name || !vm.task.desc" class="btn btn-success">Add</button>
                <button type="submit" ng-if="vm.mode==='edit'" ng-disabled="!vm.task.name || !vm.task.desc" class="btn btn-success">Save</button>
            </div>
        </form>
        <!-- Task Form -->
    </div>
    <!-- Form Wrapper -->
</div>