<div class="container-fluid" ng-init="vm.init()">
    <!-- Task List Header -->
    <div class="wrapper-header overflow-auto">
        <div class="chart-header pull-left">Task List</div>
        <div class="create-button pull-right">
            <button type="button" class="btn btn-success" ng-click="vm.gotoCreate()">Create Task</button>
        </div>
    </div>
    <!-- Empty List -->
    <div class="card-style" ng-if="vm.taskList.length===0">
        No Task Present
    </div>
    <!-- Task Table wrapper -->
    <div class="row table-wrapper" ng-if="vm.taskList.length>0">
        <!-- Task Table  -->
        <table class="table table-hover table-style" border="1">
            <thead class="">
                <tr>
                    <th>Number</th>
                    <th>Task Name</th>
                    <th class="width-50">Task Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-padding">
                <tr ng-repeat="task in vm.taskList" ng-class="{'strike-through':task.archived}">
                    <td>{{$index+1}}</td>
                    <td ng-bind="task.name"></td>
                    <td ng-bind="task.desc"></td>
                    <td class="">
                        <div>
                            <button class="ml-5 btn-xs btn btn-primary btn-outline action-buttons" ng-click="vm.editTask(task)" ng-if="!task.archived">Edit</button>
                            <button class="ml-5 btn-xs btn background-none btn-danger action-buttons" ng-click="vm.archiveTask(task)" ng-if="!task.archived">Archive</button>
                            <button class="ml-5 btn-xs btn background-none btn-danger action-buttons" ng-click="vm.archiveTask(task)" ng-if="task.archived">Re-open</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Task Table -->
    </div>
</div>